body {
    margin: 0;
    height: 100%;
    font-family: "Noto Sans JP";
}

a, a:hover, a:visited {
    color: #400;
}

nav a, nav a:hover, nav a:visited {
    color: #fff;
}

.flex-container {
    min-height: 100%;
    display: flex;
}

.row1 {
    color: #fff;
    background: #f44;
    background-image: url("p_da0572_m_da05727.png");
    min-width: 220px;
    width: 30%;
}

.row1-navigation {
    position: fixed;
    margin: 50px;
    line-height: 2em;
}

.row2 {
    background: #c44;
    width: 20px;
}

.row3 {
    color: #400;
    background: #fff;
    width: 100%;
}

.row3-title {
    border:none;
    font-size:3em;
}

.row3-full-screen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.row3-full-screen-title {
    margin: auto;
    font-size: 2em;
    text-align: center;
}

.row3-article {
    max-width: 800px;
    margin: auto;
    margin-bottom: 5em;
    padding: 1em;
}

.row3-article-title {
    color: #400;
    border-bottom: 2px #400 solid;
}

.row3-article-table {
    color: #400;
    width: 100%;
    border-spacing: 0 1em;
}

.row3-article-table td {
    border-bottom: dotted 1px;
    vertical-align: bottom;
}

.row3-article small {
    color: #ccc;
}
