body {
    margin: 0;
    font-family: "Noto Sans JP";
}


a, a:hover, a:visited {
    color: #400;
}

nav a, nav a:hover, nav a:visited {
    color: #fff;
}

.flex-container {
    display: flex;
}

.row1 {
    color: #fff;
    background: #f44;
    background-image: url("p_da0572_m_da05727.png");
    min-width: 220px;
    flex-grow: 1;
}

.row2 {
    background: #c44;
    width: 20px;
}

.row3 {
    color: #400;
    background: #fff;
    flex-grow: 1;
}

.row1-container {
    min-width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
}

article {
    max-width: 800px;
    margin: auto;
    margin-bottom: 5em;
    padding: 1em;
}

article h1 {
    color: #400;
    border-bottom: 2px #400 solid;
}

article table {
    color: #400;
    width: 100%;
    border-spacing: 0 1em;
}

article table td {
    border-bottom: dotted 1px;
    vertical-align: bottom;
}

article small {
    color: #ccc;
}
