@charset "utf-8";
$footer-height: 100px;
$accent-color: crimson;
html, body {
  height: 100%;
  background: url("/images/hoffman.png");
}

a {
  text-decoration: none;
  color: $accent-color;
  &:hover{ color: $accent-color; }
}

#wrap {
  margin: 0 auto;
  padding: 1em;
  width: 800px;
  min-height: 100%;
  position: relative;
  font-size: 13px;

  #header {
    h1 {
      margin: 0px;
      font-family: 'Diplomata SC', cursive;
      &:first-letter{
        color: $accent-color;
      }
    }
  }

  #main {
    padding-bottom: $footer-height;
    #sort{
      margin-bottom: 20px;
      cursor: pointer;
      font-size: smaller;
    }
    .article {
      background: white;
      padding: 30px;
      margin-bottom: 20px;
      color: gray;
      .game-id {
        font-weight: bold;
        font-size: larger;
        &:after  { content: "."; }
      }
      .game-title {
        font-weight: bold;
        font-size: larger;
      }

      .game-info {
        text-align: right;
        .refer {
          margin: 10px;
          font-size: smaller;
          &:before { content: "[ "; }
          &:after  { content: " ]"; }
        }
        .stars {
          color: $accent-color;
        }
      }
      .body {
        min-height: 80px;
        .cover {
          float:left;
          margin-right: 1em;
        }
      }
    }
  }

  #footer {
    height: $footer-height / 2;
    position:absolute;
    bottom: 0px;
  }
}

