@charset "utf-8";
$footer-height: 100px;

html, body {
  height: 100%;
  background: url("/images/hoffman.png");
}

#main {
  margin: 0 auto;
  width: 800px;
  min-height: 100%;
  padding-bottom: $footer-height;
}

#header {
}

#footer {
  height: $footer-height;
  position:absolute;
  bottom: 0px;
}


a {
  text-decoration: none;
  color: gray;
  &:hover{ color: black; }
}
