.article
  .game-title= title
  .game-info
    %a.refer{ href: url } 公式サイト
    %span.stars
      - 5.times do |i|
        - if i < star
          %i.fa.fa-star
        - else
          %i.fa.fa-star-o
  %hr
  .body
    %div.cover
      - if image_link && image_src
        %a{ href: image_link }
          %img{ src: image_src, alt: title, width: 100, height: 100}
      - else
        %img{ src: lorem.image('100x100') }
    %p= body
