.article
  .game-title= title
  .game-info
    %a.refer{ href: url } 公式サイト
    %span.stars
      - 5.times do |i|
        - if i < star
          %i.fa.fa-star
        - else
          %i.fa.fa-star-o
  %hr
  %p.body
    = body
