.article{ data: {game_id: no, star: star} }
  .game-title
    %span.game-id= no
    = title
  .game-info
    %a.refer{ href: url } 公式サイト
    %span.stars
      - star.times do |i|
        %i.fa.fa-star
      - (5-star).times do |i|
        %i.fa.fa-star-o
  %hr
  .body
    %div.cover
      - if image_link && image_src
        %a{ href: image_link }
          %img{ src: image_src, alt: title, width: 100, height: 100}
      - else
        %img{ src: lorem.image('100x100') }
    %p= body
