---
articles:

- title: GRAVITY DAZE 重力的眩暈:上層への帰還において、彼女の内宇宙に生じた摂動
  url:   //www.jp.playstation.com/scej/title/gravitydaze/index.html
  image_link: //amazon.co.jp/o/ASIN/B00BPL5RNI/eggchicken-22
  image_src:  //ecx.images-amazon.com/images/I/51JJwYNzMEL._SL500_AA280_.jpg
  star:  4
  body:  Playstation Vitaを買って2つ目に遊んだゲームはこれ。一番衝撃的だったのは、やはり重力をゆがめてぶっ飛びまくる快感、これに尽きると思う。逆転する世界。街の壁面に佇む少女。戦い。加速度。高層ビルの真上から見下ろす眺めのうつくしさ。そこに息づく人々や建築物。一度に描かれる世界は心細くなるほど広くて遠い。どこまでも飛んで行きたくなる濃密な広さ。そんな感じ。見事な重力的眩暈。


- title: ピクミン3
  url:   //www.nintendo.co.jp/wiiu/ac3j/
  image_link: 
  image_src: 
  star:  4
  body:  初めてピクミンに手を出したのがこれ。とても難しい。大軍を指揮することのなんと難しさよ。ある一軍は穴を掘り、別の一軍は壁を壊し、また別の一軍は果物を運ぶ。時にはボスの攻撃をかわしながら、適切な色のピクミンを適切な場所に投げる。むずい。ミスをやらかしてピクミンを大量死させてしまうこともしばしば。入水自殺。蜘蛛の巣。蟻地獄。すまぬ。俺の屍を越えてゆけ。マルチタスクで仕事できないなとつくづく思う。


- title: TOYS DREAM
  url:   //www.jp.playstation.com/software/title/jp0747npjj00575_000000000000000001.html
  image_link: 
  image_src: 
  star:  3
  body:  アトリエシリーズとよく似ているけれども、もう少し淡々飄々としている感じ。４人で力を合わせて、採取と発明と生産を繰り返す。乗り物を作り、探索することでゆっくりと行ける世界が広がって、作れるアイテムが増えていく。ああこういうのは悪くない。悪くないがしかし、宝飾品を作って売りさばいていたら、何一つイベントが発生しなくなったのは何たることだ。変化のない作業はやがて苦痛になり、眠気とともにプレイは断ち切られた。


- title: スーパーダンガンロンパ2 さよなら絶望学園
  url:   //www.danganronpa.com/2/
  image_link: 
  image_src: 
  star:  5
  body:  何よりもキャラがいい。狛枝くんがいい。七海がかわいい。それだけで引っ張っていける。だがそれだけじゃない。「わけがわからん！」と叫びたくなるほど奇妙で複雑な状況が、どうにかうまいこと作られていて、ゆっくりと解けていく。それがいい。最後の最後はまた方向が違っている。凶悪強大な敵を、全身全霊で打ち倒す快感。全部終らせる時の気持ちよさと言ったらこれ以上ないくらいだ。
---

- current_page.data.articles.each do |article|
  = partial("article", locals: article)

