#sort
  %span.js-id.fa.fa-sort
    番号順
  |
  %span.js-new.fa.fa-clock-o
    新しい順
  |
  %span.js-star.fa.fa-star
    が高い順

#articles
  - data.articles.each.with_index(1) do |article, i|
    - article[:no] = i
    = partial("article", locals: article)

