%p
  ここはプログラマ/ゲーマーである eggchicken の個人用ウェブサイトです。
  
%p
  %a{ href: "game" }
    %span.fa-stack.fa-2x
      %i.fa.fa-stack-2x.fa-square-o
      %i.fa.fa-stack-1x.fa-gamepad{ style: "margin-top:-4px;"}
  
  %a{ href: "https://twitter.com/egg_chicken" }
    %span.fa-stack.fa-2x
      %i.fa.fa-stack-2x.fa-square-o
      %i.fa.fa-stack-1x.fa-twitter{ style: "margin-top:-2px;"}

  %a{ href: "http://eggchicken.hatenadiary.jp/" }
    %span.fa-stack.fa-2x
      %i.fa.fa-stack-2x.fa-square-o
      %i.fa.fa-stack-1x.fa-book{ style: "margin-top:-1px;"}


